<flynt-component name="BlockWysiwyg" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <div class="container">
    <h1>{{ titleHtml }}</h1>
    <div class="content">
      {{ contentHtml }}
    </div>
  </div>
</flynt-component>
