flynt-component[name='BlockImageText'] {
  @media (min-width: $breakpoint-tablet-horizontal) {
    background-color: var(--color-background-secondary);
    margin: 0;
    padding: 4rem;
    .container {
      align-items: center;
      display: flex;
      gap: var(--column-gap);
      justify-content: space-around;

      > * {
        flex-basis: 50%;
        margin-block-start: 0;
      }

      &[data-image-position='left'] {
        flex-direction: row;
      }

      &[data-image-position='right'] {
        flex-direction: row-reverse;
      }

      figure {
        max-width: 300px;
      }
    }

    .btn {
      display: table;
      text-align: center;
      color: var(--color-background);
      background-color: var(--color-border);
      border-radius: 2rem;
      padding: .5rem 3rem;
      margin: 4rem 0;
      text-decoration: none;
    }
  }
}
